@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-left-right {
  box-shadow: -6px 0px 30px -5px rgba(112, 138, 138, 0.863),
    -6px 0px 30px -5px rgba(112, 138, 138, 0.863);
}
body {
  font-family: "Baloo 2" "PT Serif", "Roboto";
  /* font-family: "Roboto", sans-serif; */
}
.back2 {
  height: 100%;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0 90%);
  background-color: rgba(73, 86, 143, 0.13);
  position: absolute;
  z-index: -1;
}
